# Cluster settings for VM registration
ISTIO_META_ENV_AUTO_REGISTER=true
ISTIO_META_AUTO_REGISTER_GROUP=vm-proxy-group
ISTIO_META_NETWORK=vm-network
CANONICAL_SERVICE={{ vm_canonical_service }}
ISTIO_META_WORKLOAD_NAME={{ inventory_hostname }}
ISTIO_META_NAMESPACE={{ vm_namespace }}
ISTIO_NAMESPACE={{ vm_namespace }}
ISTIO_SERVICE={{ vm_canonical_service }}
CA_ADDR=istiod.istio-system.svc:30185
ISTIO_META_DNS_CAPTURE=true
ISTIO_META_DNS_AUTO_ALLOCATE=true
ISTIO_INBOUND_PORTS=80
