type: Dataplane
mesh: "{{ kuma_mesh }}"
name: "{{ inventory_hostname }}.{{ vm_namespace }}"
networking:
  address: "{{ ansible_host }}"
  inbound:
    - port: {{ kuma_vm_inbound_port }}
      servicePort: {{ kuma_vm_service_port }}
      tags:
        kuma.io/service: "{{ kuma_vm_service_name }}"
        kuma.io/protocol: http
  transparentProxying:
    redirectPortInbound: 15006
    redirectPortOutbound: 15001
